.hero {
    position: relative;
    overflow: hidden;
    &__bg {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            background: linear-gradient(121.54deg, rgba(0, 0, 0, 0.49) 22.05%, rgba(0, 0, 0, 0) 79.09%);;
        }
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    &__wrapper {
        position: relative;
        @include media-breakpoint-up(lg) {
            padding-top: 40px;
        }
    }
    &__content {
        color: $white;
        position: relative;
        z-index: 3;
        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
            padding-top: 50px;
        }
        @include media-breakpoint-up(xs) {
            flex-wrap: wrap;
        }
        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            min-height: 250px;
            height: 80vh;
            max-height: 550px;
        }
    }
    &__text {
        @include media-breakpoint-up(lg) {
            flex: 0 1 75%;
            margin-bottom: 73px;
        }
        @include media-breakpoint-up(xs) {
            flex: 0 1 100%;
        }
        .h4 {
            @include media-breakpoint-down(xs) {
                br {
                    display: none;
                }
            }
        }
    }
    &__side-1 {
        @include media-breakpoint-up(lg) {
            flex: 0 1 100%;
            display: flex;
            align-items: flex-end;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
    &__mobile-btn {
        @include media-breakpoint-up(lg) {
            display: none;
        }
        @include media-breakpoint-down(md) {
            display: block;
            .btn {
                margin-top: 20px;
                padding: 20px;
            }
        }
        @include media-breakpoint-down(xs) {
            .btn {
                margin: 0 -30px;
                margin-top: 20px;
            }
        }
    }
    &__links {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        & > * {
            @include media-breakpoint-up(lg) {
                flex: 0 1 25%;
            }
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &__link, &__num__subtitle {
        @include media-breakpoint-up(xl) {
            padding-top: 30px;
            padding-left: 50px;
            padding-bottom: 30px;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 25px;
            padding-left: 30px;
            padding-bottom: 25px;
        }
        &:first-child {
            padding-left: 0;
            background: $primary;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 80%;
                left: -79%;
                z-index: -1;
                background: $primary;
                transition: $trsn;
            }
        }
    }
    &__num__subtitle {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            background: $primary;
            width: 119px;
        }
    }
    &__link {
        cursor: pointer;
        margin-right: 1px;
        transition: $trsn;
        svg {
            path {
                transition: $trsn;
            }
        }
        &:hover {
            svg {
                path {
                    stroke: $primary;
                }
            }
        }
        &:first-child {
            &:hover {
                background: $primary-hover;
                &:before {
                    background: $primary-hover;
                }
            }
        }
        &:not(:first-child) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
            backdrop-filter: blur(14px);
            &:hover {
                background-color: $primary;
            }
        }
    }
    &__donate {
        &__title {
            font-weight: $bold;
        }
        &__btn {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span:last-child {
                color: rgba($color: $white, $alpha: 0.6);
                font-weight: $medium;
                font-size: $fs-12;
            }
        }
        &__icon {
            background: $white;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            @include media-breakpoint-up(lg) {
                margin-right: 18px;
                padding: 10px;
            }
        }
    }
    &__num {
        @include media-breakpoint-up(xl) {
            padding-left: 50px;
        }
        @include media-breakpoint-up(lg) {
            flex: 0 1 25%;
            margin-bottom: 18px;
        }
        @include media-breakpoint-up(xs) {
            flex: 0 1 100%;
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}