.modal-form {
    max-width: 818px !important;
    width: 95% !important;
    margin: 25px 0 !important;
    @include media-breakpoint-up(lg) {
        padding: 34px 47px !important;
    }
    @include media-breakpoint-up(sm) {
        padding: 20px 25px !important;
    }
    @include media-breakpoint-up(xs) {
        padding: 16px 21px !important;
    }
    h2,
    h3 {
        font-weight: bold;
        @include media-breakpoint-up(xl) {
            font-size: 28px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-up(xs) {
            margin-bottom: 20px;
        }
    }
    [data-fancybox-close] {
        cursor: pointer;
        display: flex;
        height: 25px;
        width: 25px;
        float: right;
        &:before {
            height: 100%;
            width: 100%;
            content: "";
            opacity: 0.6;
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 29L1 1M1 29L29 1L1 29Z' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }
    }
}

.text-policy-modal {
    p {
        margin-bottom: 1em;
        @include media-breakpoint-down(md) {
            font-size: $fs-12;
        }
    }
}

.modal-oneclick {
    max-width: 818px !important;
    width: 95% !important;
    margin: 25px 0 !important;
    @include media-breakpoint-up(lg) {
        padding: 34px 47px !important;
    }
    @include media-breakpoint-up(sm) {
        padding: 20px 25px !important;
    }
    @include media-breakpoint-up(xs) {
        padding: 16px 21px !important;
    }
    h2,
    h3 {
        font-weight: bold;
        @include media-breakpoint-up(xl) {
            font-size: 28px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-up(xs) {
            margin-bottom: 20px;
        }
    }
    [data-fancybox-close] {
        cursor: pointer;
        display: flex;
        height: 25px;
        width: 25px;
        float: right;
        &:before {
            height: 100%;
            width: 100%;
            content: "";
            opacity: 0.6;
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 29L1 1M1 29L29 1L1 29Z' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }
    }
    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $white-primary;
        border-bottom: 1px solid $white-primary;
        padding: 10px 0;
        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
        }
    }
    &-heading {
        max-width: 224px;
    }
    &-thumbnail {
        img {
            min-width: 80px;
            min-height: 80px;
        }
    }
    &-title {
        font-weight: $bold;
        font-size: $fs-12;
        line-height: 1.4em;
    }
    &-sizes {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 10px;
        &-item {
            margin-right: 14px;
            color: $gray-primary;
            font-size: $fs-10;
            font-weight: $bold;
        }
    }
    &-oneprice, &-fullprice {
        font-size: $fs-10;
        font-weight: $bold;
        color: $gray-primary;
        .price {
            font-size: $fs-14;
            color: $black;
        }
    }
    button {
        @include media-breakpoint-up(lg) {
            padding: 20px 40px;
        }
        @include media-breakpoint-up(md) {
            padding: 13px 30px;
        }
        @include media-breakpoint-up(xs) {
            padding: 11px 24px;
        }
    }
    .flex-form-item {
        @include media-breakpoint-down(md) {
            min-width: 220px;
        }
    }
    .flex-form.btn-flex-form {
        align-items: center;
        margin-bottom: -10px;
        .flex-form-item {
            @include media-breakpoint-down(md) {
                min-width: auto;
            }
        }
        .form-policy {
            line-height: 1.5em;
            display: inline-block;
            max-width: 316px;
            min-width: 200px;
        }
    }
}