// ================================================================================================================
//
// Vars
//
// ================================================================================================================
// ========================================================
// Grid variables
// ========================================================
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 998px, xlg: 1300px, xl: 1450px);
$container-max-widths: ( sm: 540px, md: 720px, lg: 968px, xlg: 1260px, xl: 1440px);
// ========================================================
// Colors
// ========================================================

$white: #fff;
$white-primary: #F3F3F3;
$black: #32373F;
$black-secondary: #000000;
$total-black: #000;
$primary: #4775CF;
$primary-hover: #5688E9;
$secondary: #197BD8;
$red: #E53C3C;
$green: #4EC84C;
$hit: #D3A377;
$gray-primary: #A8AFBB;
$gray-secondary: #8B94A3;
$gray-1: #464F5E;
$gray-light: #E3EDF1;
$gray-semilight: #b4b9c2;

// ========================================================
// gradients
// ========================================================
$gradient: linear-gradient(111.03deg, #004282 36.12%, rgba(0, 84, 164, 0.71) 98.93%);
// ========================================================
// Transitions
// ========================================================
$trsn: all .25s ease;

// ========================================================
// Font-sizes
// ========================================================
$fs-9: 9px;
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-20: 20px;
$fs-21: 21px;
$fs-22: 22px;
$fs-24: 24px;
$fs-33: 33px;
$fs-40: 40px;
$fs-45: 45px;
$fs-48: 48px;
// ========================================================
// Font-weights
// ========================================================
$normal: 400;
$medium: 500;
$bold: 700;
// ========================================================
// space
// ========================================================